target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

temporary-files
out/
.gitignore~
.idea*
.idea/
*.iml
*.ipr
*.iws
ffmpeg2*
temp/

*.log
/classes/artifacts

application.properties
application.yml
bootstrap.yml

logs/*
!.gitkeep
tmp
.DS_Store
.idea

package-lock.json