server:
  port: 9500
spring:
  mail:
    username: utsoccloud@gmail.com
    host: smtp.gmail.com
    password: utcloud1397
    default-encoding: utf-8
    port: 465
    protocol: smtp
    properties:
      mail:
        smtp:
          ssl:
            enable: true
  data:
    mongodb:
      host: localhost
      port: 27017
      database: vamegh
  application:
    name: vamegh
  servlet:
    multipart:
      max-file-size: 1024MB
      max-request-size: 1024MB
utCloud:
  storagePath: /home/meg/Desktop/cloud
  baseDownloadUrl: http://142.93.66.250/api
  activationHost: localhost
  activationPort: 4200